/* .app {
    display: flex;
    background-color: #eaeded;
  } */
  
  /* .app_left {
    flex: 0.2; /* 20% of the app width *
    padding: 20px;
    border-right: 1px solid lightgray;
  } */
  
  /* .app_right {
    flex: 0.8; /* 80% of the app width 
    padding: 20px;
  } */
  

  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .main-content {
    display: flex;
  }
  
